#About {
    .header {
        h1 {
            font-size: 2em;
            margin-top: 2em;
            margin-bottom: 2em;
            text-align: center;
        }
    }

    .body {
        font-size: 1.5em;
        text-align: justify;
        text-justify: inter-word;
    }
}
