#YourAccount {
    .header {
        text-align: center;
        margin-top: 2em;

        h1 {
            font-size: 2em;
        }
    }

    .account-form {
        margin-top: 2em;
        text-align: center;

        button {
            margin-top: 2em;
        }
    }
}
