@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=latin-ext');
@import "./login.scss";
@import "./register.scss";
@import "./service-list.scss";
@import "./service-details.scss";
@import "./account.scss";
@import "./service-create.scss";
@import "./service-edit.scss";
@import "./about.scss";

// Override buefy textarea resize: vertical.
.textarea {
    resize: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    padding: 20px;
    flex-grow: 1;
}

.sticky-footer {
    background-color: #363636;
    flex-shrink: 0;
    color: white;
    padding: 20px;

    .footer-link {
        color: white;
    }
}

#Payment {
    button {
        border: 0px;
        height: 300px;
        width: 300px;
        background: url('http://static.payu.com/pl/standard/partners/buttons/payu_account_button_long_03.png');
        background-repeat: no-repeat;
        cursor: pointer;
    }
}
