#Register {
    .register-background {
        min-height: 100vh;
        background:linear-gradient(0deg,rgba(105,105,105,.8),
            rgba(105,105,105,.8)),
            url('../images/register.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .register-text {
            font-size: 1.1em;
            margin-bottom: 2em;
        }

        a {
            text-transform: capitalize;
        }

        .link-register {
            text-decoration: none;
            color: white;
            border: 1px solid white;
            border-radius: 1px;
            padding: 4px 20px;
            transition: 0.3s;

            &:hover {
                text-decoration: none;
                color: white;
                border-color: #7957d5;
            }

            &:active {
                text-decoration: none;
                color: white;
            }
        }
    }

    .nav-section {
        margin-top: 1.5em;

        .logo-col {
            display: inline-flex;
            
            h1 {
                margin-left: 1em;
                color:white;
                font-size: 2em;
                font-family: 'Staatliches', cursive;
                margin-top: 1px;
                cursor: default;
            }

            img {
                border-right: 3px solid #7957d5;
                padding-right: 2em;
                border-radius: 4px;
            }
        }

        p {
            color: white;
            font-family: 'Montserrat', sans-serif;
            margin-top: 5px;
            margin-right: 1.5em;
            cursor: default;
        }

        .register-col {
            display: inline-flex;
            float: right;
            margin-right: 1.5em;
        }
    }

    .register-form {
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(11% - 32px);

        label, p {
            color: white;
            font-family: 'Montserrat', sans-serif;
            cursor: default;
        }

        a {
            color: #BEBEBE;
            font-style: italic;
        }

        h1 {
            color: white;
            font-size: 4em;
            font-family: 'Staatliches', cursive;
            cursor: default;
        }

        input {
            font-size: 1.2em;
            height: 3em;
            padding: 30px;
            color: black;

            &::placeholder {
                color: #989898;
                opacity: .8;
                text-transform: capitalize;
            }
        }

        .is-medium {
            margin-top: 1.1em;
        }
    }
}
