#ServiceForm {
    .header {
        margin-top: 2em;

        h1 {
            font-size: 2em;
        }
    }

    .upload {
        height: 10em;

        img {
            height: 10em;
        }
    }
}
